.section {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.title, .subtitle {
    text-align: center;
    font-size: var(--size-l);
}

.title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.subtitle {
    margin-bottom: 1.5rem;
}

.nom {
    font-size: var(--size-l);
    font-weight: bold;
    text-align: center;
    color: var(--color_primary);
}
.image {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 5px;
}

.text {
    line-height: 1.8rem;
    font-size: var(--size-m);
    text-align: center;
}

.button {
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: var(--color_primary);
}

.buttonText {
    text-align: center;
    font-size: var(--size-m);
    color: white;
}