.menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes égales */
    grid-gap: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .menu-list {
      grid-template-columns: 1fr; /* Une colonne pour les appareils de petite taille */
    }
  }
  