#footer {
    background-color: #1F2041;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* MOBILE */
@media screen and (min-width: 425px) and (max-width : 767px) {
    #Footer {

    }
}

/* TAB */
@media screen and (min-width: 768px) and (max-width : 1023px) {
    #Footer {

    }
}

/* LAPTOP */
@media screen and (min-width: 1024px) and (max-width : 1440px) {
    #Footer {
        
    }
}